<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span text-capitalize> {{this.calendar.currentDate | date:'MMMM y'}} </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{view.dates[row*7+col].label}}
    <span class="events">
      <i class="event-pin" [ngStyle]="{'background-color' : event.pinColor }" *ngFor="let event of view.dates[row*7+col].events">
      </i>
    </span>
  </ng-template>
  <ng-template #templateInactive let-view="view" let-row="row" let-col="col">
      {{view.dates[row*7+col].label}}
  </ng-template>
  <ion-row no-padding>
    <div col-lg-6 no-padding>
      <calendar
        [currentDate]="calendar.currentDate"
        [showEventDetail]="calendar.showEventDetail"
        [eventSource]="eventSource"
        [monthviewDisplayEventTemplate]="template"
        [monthviewInactiveDisplayEventTemplate]="templateInactive"
        (onTimeSelected)="onTimeSelected($event)"
        step="30">
      </calendar>
    </div>
    <div col-lg-6 no-padding>
      <h2 class="subheader">Детали</h2>
      <ion-list no-lines no-padding>
        <ion-item *ngFor="let event of currentEvents">
          <event-info  [event]="event"></event-info>
        </ion-item>
      </ion-list>
    </div>
  </ion-row>
</ion-content>
  <button class="footer-button" ion-button round icon-only>
    <ion-icon name="ios-add-outline"></ion-icon>
  </button>
