// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.app-root{
  font-family: 'Comfortaa', cursive;
}
.content{
  color: color($colors, font);
}
.text-muted{
  color: color($colors, disabled, contrast);
}


ion-header .toolbar{
  &-background{
    background: color($colors, primary, base);
    background: linear-gradient(to right, color($colors, primary, base) 0%, color($colors, danger) 100%);
  }
  &-title{
    color: color($colors, primary, contrast);
    text-align: center;
  }
}
.bar-button{
  color: color($colors, primary, contrast);
}
.footer-button {
  position: absolute;
  bottom: .5em;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  line-height: 1em
}
.subheader{
  color: #000;
  font-size: 1.3em;
  padding: 0 16px;
}
#app{
  .monthview-datetable{
    .monthview-primary-with-event{
      background: inherit;
      color: inherit;
    }
    .monthview-selected{
      background-color: color($colors, secondary);
      color: inherit;
    }
    .monthview-current{
      color: inherit;
    }
    th,td{
      vertical-align: middle;
      position: relative;
      height: 3.3em;
      font-size: .8em;
      .events{
        display: block;
        max-width: 21px;
        line-height: 5px;
        text-align: left;
        margin: 0 auto;
        position: absolute;
        top: 1.95em;
        left: 0;
        right: 0;
      }
      .event-pin{
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 1px;
      }
    }
    th{
      font-weight: 400;
      text-transform: capitalize;
      border: none;
    }
  }
}
