event-info {
  background: color($colors, secondary);
  display: block;
  padding: 1em;
  border-radius: 15px;
  white-space: normal;
  .header{
    font-size: 1em;
    margin-bottom: .5em;
  }
  .tooltip{
    color: color($colors, disabled, contrast);
    font-size: .8em;
    margin-bottom: .5em;
    margin-right: 4em;
    &:last-child{
      margin-right: 0em;
    }
    .icon{
      margin-right: .4em;
    }
  }
  .event-intercations{
    color: color($colors, primary, base);
    .disabled{
      color: color($colors, disabled, contrast);
    }
  }
  .description{
    color: color($colors, font);
    line-height: 1.2em;
    max-height: 4.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .5em;
  }
  .link{
    font-size: .8em;
    margin-bottom: .5em;
  }
}
