<!-- Generated template for the EventInfoComponent component -->
<h3 class="header">
  <a [href]="event.url">{{event.title}}</a>
</h3>
<ion-row class="tooltips">
  <span  class="tooltip" no-padding>
    <ion-icon name="ios-clock-outline"></ion-icon>{{event.startTime | date:'d MMMM'}}
  </span>
  <span  class="tooltip" no-padding>
    <ion-icon name="ios-pin-outline"></ion-icon>{{event.location}}
  </span>
</ion-row>
<ion-row class="description">
  {{event.description}}
</ion-row>
<ion-row class="footer">
  <ion-col no-padding col-6>
    <a class="link" [href]="event.url">Хочу</a>
  </ion-col>
  <ion-col class="event-intercations" no-padding align="right" col-6>
    <ion-icon name="md-share" text-end></ion-icon>
    <ion-icon name="md-heart-outline" isActive="event.liked" [ngClass]="{'disabled':!event.liked}" text-end (click)="event.liked = !event.liked"></ion-icon>
  </ion-col>
</ion-row>
